/target/
.mvn/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

## Others
src/main/resources/static/*
src/main/ui/node_modules/*
**/node_modules/**
*.orig
**/tests_results/**
